name: Test

on: [push, pull_request]

env:
  TERM: xterm

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-latest, windows-latest]
        python-version: ["3.12"]

    runs-on: ${{ matrix.os }}

    timeout-minutes: ${{ (matrix.os == 'windows-latest' && 20) || 10 }}

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python utils/setup-testenv.py
        python -m pip install --upgrade pip
        python -m pip install pynvim packaging

    - name: Run tests
      run: |
        python ./test/all.py

    - name: Archive script logs
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: logs-${{ matrix.os }}
        path: test/*.log
